/* Base styles */

html, body {
    font-family: Helvetica, Verdana, Tahoma;
}

.hidden {
    display: none;
}

html body {
    background: lightgray;
    height: 100%;
    width: 100%;
    min-width: 1200px;
}

.game-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

#game-container {
    height: 100%;
    width: 100%;
}

.game-area {
    width: 1000;
    height: 700px;
    border: 1px solid #BBB;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.in-play {
    position: absolute;
    top: 433px;
    left: 115px;
}

#message-log {
    margin-top: 15px;
    width: 100%;
    height: 150px;
}

.card {
    height: 108px;
    width: 70px;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
}

.card img {
    height: 100%;
    width: 100%;
}

.badge {
    position: absolute;
    z-index: 5;
    bottom: -4px;
    right: -4px;
}

#status-area {
    width: 1000px;
    margin: 25px auto 25px auto;
}

#status-message {
    font-size: 24pt;
}

#status-counters {
    float: right;
    font-size: 18pt;
}

#status-counters label, #status-counters span {
    display: inline;
}

.count-label {
    font-size: 14pt;
}

#status-area .button-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: text-bottom;
}

/* Basic Layouts */

.shared-piles {
    position: absolute;
    left: 136px;
    top: 190px;
}

.in-play .card {
    margin: 5px;
}

.shared-piles .card {
    margin: 5px;
}

.kingdom-piles {
    max-width: 740px;
    display: inline-block;
}

.player-area {
    border: 1px solid black;
    padding: 10px;
}

.player-area.north {
    position: absolute;
    left: 15px;
    top: 15px;
}

.player-area.south {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.player-area.east {

}

.player-area.west {

}

.player-area .hand {
    display: inline-block;
}

.player-area .card {
    margin: 5px;
}

.player-area .discard {
    margin-right: 25px;
}

/* Remote player */

.player-area.remote-player .hand {
    display: inline-block;
    position: relative;
    margin-left: 75px;
    width: 100px;
}

.player-area.remote-player .hand .card {
    position: absolute;
    margin: auto;
    transition: -webkit-transform 0.25s ease;
    -webkit-transform-origin: 10px bottom;
    top: -65px;

}

/* Selection states */


.kingdom-piles .card.not-selectable {
    opacity:0.6;
}

.kingdom-piles .card.selectable {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
}

.kingdom-piles .card.selectable:hover {
    -webkit-transform: scale(2.0, 2.0);
    z-index: 5;
}

.hand .card.not-selectable {
    opacity:0.6;
}
.hand .card.selectable:not(.selected) {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.1s;
    -webkit-transform: translateY(0px);
}
.hand .card.selectable:hover:not(.selected) {
    -webkit-transform: translateY(-15px);
    z-index: 5;
}

.hand .card.selectable.selected {
    cursor: pointer;
    -webkit-transform: translateY(-15px);
    z-index: 5;

    border: 1px solid yellow;
    margin: 4px;
}

/* Modals */

.modal {
    display: none;
}

