/* Base styles */

html, body {
    font-family: Helvetica, Verdana, Tahoma;
    padding: 0px;
    margin: 0px;
    color: #333;
}

.hidden {
    display: none;
}

html body {
    background: lightgray;
    height: 100%;
    width: 100%;
    min-width: 1200px;
}

.game-buttons {
}

.game-container {
    min-height: 775px;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
}

.game-area {
    width: 735px;
    height: 100%;
    min-height: 775px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.sidebar {
    height: 100%;
    min-height: 775px;
    width: 225px;
    float: left;
    border-right: 2px solid #AAA;
    background-color: #BBB;
}

.sidebar .card-preview {
    width: 225px;
    height: 360px;
}

.right-sidebar {
    float: left;
    height: 100%;
    min-height: 775px;
    width: -webkit-calc(100% - 965px);
    width: calc(100% - 965px);
    position: relative;
    border-left: 2px solid #333;
}

.message-log {
    height: -webkit-calc(100% - 32px);
    min-height: 743px;
    height: calc(100% - 32px);
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    padding: 3px;
}

.message-input {
    height: 20px;
    border-top: 1px solid black;
}

.message-input input[type="text"] {
    float: left;
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    height: 24px;
}

.message-input button {
    float: left;
    width: 50px;
}

.in-play {
    position: absolute;
    background-color: darkgray;
    top: 420px;
    left: 5px;
}

.card {
    height: 108px;
    width: 70px;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
}

.card img {
    height: 100%;
    width: 100%;
}

.badge {
    position: absolute;
    z-index: 5;
    bottom: -4px;
    right: -4px;
}

.status-area {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.8);
    color: #CCC;
    padding: 18px 12px 12px 12px;
    border-top: 1px solid #CCC;
    overflow: hidden;
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    height: 24px;
}

.status-area .button-container {
    position: absolute;
    right: 10px;
    bottom: 14px;
}

.status-message {
    font-size: 24pt;
    vertical-align: middle;
}

.status-counters {
    margin: 5px;
}

.status-counters .turn-label,  .status-counters .phase-label {
    font-size: 16pt;
    margin-top: 10px;
}

.status-counters .count-label label {
    display: inline-block;
    width: 60px;
    line-height: 14px;
}

.status-counters .phase-label {
    margin-bottom: 15px;
}

.status-counters .count-label {
    font-size: 14pt;
}

/* Basic Layouts */

.shared-piles {
    position: absolute;
    top: 180px;
    left: 5px;
    z-index: 10; /* higher than .player-area */
}

.in-play .card {
    margin: 5px;
}

.shared-piles .card {
    margin: 5px;
}

.kingdom-piles {
    max-width: 740px;
    display: inline-block;
}

.player-area {
    padding: 5px;
    z-index: 5;
}

.player-area.red {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.025);
}

.player-area.blue {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.025);
}

.player-area.north {
    position: absolute;
    left: 10px;
    top: 10px;
}

.player-area.south {
    position: absolute;
    left: 10px;
    bottom: 80px;
}

.player-area.east {

}

.player-area.west {

}

.player-area .name-label {
}

.player-area .hand {
    display: inline-block;
}

.player-area .card {
    margin: 3px;
    background: lightgray;
}

.player-area .discard {
    margin-right: 25px;
}

/* Remote player */

.player-area.remote-player .hand {
    display: inline-block;
    position: relative;
    margin-left: 55px;
    width: 80px;
}

.player-area.remote-player .hand .card {
    position: absolute;
    margin: auto;
    transition: -webkit-transform 0.25s ease;
    -webkit-transform-origin: 10px bottom;
    top: -70px;

}

/* Selection states */


.kingdom-piles .card.not-selectable {
    opacity:0.6;
}

.kingdom-piles .card.selectable {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
}

.kingdom-piles .card.selectable:hover {
    -webkit-transform: scale(2.0, 2.0);
    z-index: 5;
}

.hand .card.not-selectable {
    opacity:0.6;
}
.hand .card.selectable:not(.selected) {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.1s;
    -webkit-transform: translateY(0px);
}
.hand .card.selectable:hover:not(.selected) {
    -webkit-transform: translateY(-15px);
    z-index: 5;
}

.hand .card.selectable.selected {
    cursor: pointer;
    -webkit-transform: translateY(-15px);
    z-index: 5;

    outline: 2px solid yellow;
}

/* Modals */

.modal {
    display: none;
}

table.scoresheet td {
    border: 1px solid black;
}
